asgiref==3.5.2
Django==4.1
image==1.5.33
numpy==1.23.2
Pillow==9.2.0
Shapely==1.8.4
six==1.16.0
sqlparse==0.4.2
asgiref==3.5.2
Django==4.1
image==1.5.33
numpy==1.23.2
opencv-python==4.6.0.66
Pillow==9.2.0
Shapely==1.8.4
six==1.16.0
sqlparse==0.4.2
asgiref==3.5.2
cycler==0.11.0
Django==4.1
fonttools==4.37.1
image==1.5.33
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.23.2
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
Shapely==1.8.4
six==1.16.0
sqlparse==0.4.2
